# data files
stats*
data
model_checkpoint
tensorboard
old_tensorboard
meta_data
tf_data
tmp
scripts/tf_data
scripts/tmp
scripts/alignments
scripts/log
scripts/model_checkpoint*
scripts/stats*

# files
.idea
backup_codebook

# python
__pycache__
NeuralNetHelper/__pycache__
KaldiHelper/__pycache__

